[submodule "202108-fullstackMERN-Csr-gitSubModule-iKboil"]
	path = 202108-fullstackMERN-Csr-gitSubModule-iKboil
	url = https://github.com/RechadSalma/202108-fullstackMERN-Csr-gitSubModule-iKboil.git
[submodule "iKexpressPractice-202108"]
	path = iKexpressPractice-202108
	url = https://github.com/RechadSalma/iKexpressPractice-202108.git
