#iKulGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: 5px;
    gap: 0px 5px;

    padding: 0;
    margin: auto;
    width: 95%;
}